<aside class="sidebar">
  <div class="sidebar-logo">
    <!-- Logo Edu Planner -->
  </div>

  <nav class="sidebar-menu">

    <span class="menu-title">PRINCIPAL</span>

    <a routerLink="/admin/institucion">Mi institución</a>
    <a routerLink="/admin/dashboard">Panel Control</a>

    <span class="menu-title">ACADÉMICO</span>

    <a routerLink="/admin/horarios">Horarios</a>
    <a routerLink="/admin/emergencia">Emergencia</a>
    <a routerLink="/admin/docentes">Docentes</a>
    <a routerLink="/admin/asistencia">Asistencia</a>
    <a routerLink="/admin/notas">Notas</a>

    <span class="menu-title">ADMINISTRACIÓN</span>

    <a routerLink="/admin/usuarios">Usuarios</a>

  </nav>

  <div class="logout">
    <a>Cerrar sesión</a>
  </div>
</aside>