<header class="top-login">
  <div class="brand-login">
    <img src="assets/img/Logo-nav.png" alt="Logo">
  </div>

  <div class="back-login">
     <a href="#">
        <img class="icon-menu" src="assets/img/right-arrow.png" alt="/ed-frontend/src/app/features/home/pages/inicio/inicio.component.html" >
            volver al inicio
    </a>
  </div>
</header>

<section class="login-screen">

  <div class="login-left">
    <img
      class="main-logo"
      src="assets/img/Logo-nav.png"
      alt="EduPlanner">
  </div>

  <div class="login-right">

    <div class="login-box">

      <h1>INICIAR SESIÓN</h1>

      <p>
        Ingresa tus credenciales institucionales para continuar
      </p>

      <div class="field-login error">

        <label>Correo Institucional</label>

        <input
          type="email"
          placeholder="EduPlanner@gmail.com">

        <div class="error-message">
          <img src="assets/img/error.png" alt="">
          <span>El correo institucional es obligatorio.</span>
        </div>

      </div>

      <div class="field-login error">

        <label>Contraseña</label>

        <div class="password-login">

          <input
            type="password"
            placeholder="••••••••••">

          <img
            src="assets/img/eye.png"
            alt="Mostrar contraseña">

        </div>

        <div class="error-message">
          <img src="assets/img/error.png" alt="">
          <span>La contraseña es obligatoria.</span>
        </div>

      </div> 

    <a (click)="irForgotPassword()" class="forgot-login">
      ¿Olvidaste tu contraseña?
    </a>

      <div class="divider-login"></div>

      <button type="submit" class="button-login">
        Iniciar Sesión
        <img src="assets/img/arrow-right.png" alt="">
      </button>

      <p class="support-login">
        ¿Problemas para acceder?
        <a href="#">
          Contactar soporte técnico.
        </a>
      </p>

    </div>

  </div>

</section>

<footer class="footer-login">
  <img src="assets/img/logo-footer.png" alt="Logo">
</footer>