<div class="login-box">

  <h1>INICIAR SESIÓN</h1>

  <p>
    Ingresa tus credenciales institucionales para continuar
  </p>

  <div class="field-login">

    <label>Correo Institucional</label>

    <input
      type="email"
      [(ngModel)]="email"
      placeholder="EduPlanner@gmail.com">

    <div class="error-message">
      <img src="assets/img/error.png" alt="">
      <span>El correo institucional es obligatorio.</span>
    </div>

  </div>

  <div class="field-login">

    <label>Contraseña</label>

    <div class="password-login">

      <input
        type="password"
        [(ngModel)]="password"
        placeholder="••••••••••">

      <img
        src="assets/img/eye.png"
        alt="Mostrar contraseña">

    </div>

    <div class="error-message">
      <img src="assets/img/error.png" alt="">
      <span>La contraseña es obligatoria.</span>
    </div>

  </div>

  <a (click)="irForgotPassword()" class="forgot-login">
    ¿Olvidaste tu contraseña?
  </a>

  <div class="divider-login"></div>

  <button
    type="button"
    class="button-login"
    (click)="login()">

    Iniciar Sesión

    <img src="assets/img/arrow-right.png" alt="">

  </button>

  <p class="support-login">
    ¿Problemas para acceder?
    <a href="#">
      Contactar soporte técnico.
    </a>
  </p>

</div>