<div class="top-forgot">
  <div class="brand-forgot">
    <img src="assets/img/Logo-nav.png" alt="Edu Planner">
  </div>

  <div class="back-forgot">
    <a routerLink="/login">
      <img src="assets/img/right-arrow.png" alt="">
      Volver al Inicio
    </a>
  </div>
</div>

<div class="forgot-screen">

  <div class="forgot-left">
    <img class="forgot-logo" src="assets/img/Logo-nav.png" alt="Edu Planner">
  </div>

  <div class="forgot-right">
    <div class="forgot-card">

      <div class="forgot-badge">
        <img src="assets/img/Shield ready.png" alt="">
        <span>RECUPERACIÓN SEGURA</span>
      </div>

      <h1>
        Recuperar
        <br>
        Contraseña
      </h1>

      <p class="forgot-description">
        Ingresa tu correo electrónico para recibir un enlace
        seguro de restablecimiento.
      </p>

      <div class="forgot-field">
        <label>CORREO ELECTRÓNICO</label>

        <div class="forgot-input">
          <img
            class="input-icon"
            src="assets/img/mail.png"
            alt="Correo">

          <input
            type="email"
            placeholder="correo@institucion.edu"
            [(ngModel)]="email">
        </div>
      </div>

      <button
        class="forgot-button"
        (click)="enviarEnlace()">

        ENVIAR ENLACE

        <img
          src="assets/img/arrow-right.png"
          alt="">
      </button>

      <p
        *ngIf="mensaje"
        class="success-message">
        {{ mensaje }}
      </p>

      <p
        *ngIf="error"
        class="error-message">
        {{ error }}
      </p>

      <div class="forgot-info">
        <div class="forgot-status">
          <span class="status-dot"></span>
          <span>SSL/TLS ENCRYPTED</span>
        </div>

        <span class="forgot-version">
          VALID • TECTONIC
        </span>
      </div>

    </div>
  </div>

</div>

<div class="forgot-footer">
  <img src="assets/img/logo-footer.png" alt="Edu Planner">
</div>